@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Medium.ttf");
           
}
:root{
    --rouge:#ff5555;
    --bleu:#5599FF;
    --lighGrey:#ececec;
    --grey:#C4C4C4;
    --darkGrey: 77, 77, 77;
    --borderRadius:20px;
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto"; 
}

header{
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
header img{
    width: 300px;
    margin: 10px;
}
header .accountButtons{
    display: flex;
    align-items: center;
    
    
}
header .accountButtons button{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: var(--borderRadius);
    border-style: none;
    margin-left: 15px;
    margin-right: 15px;    
    font-size: 24px;
    color: white;
}
header .accountButtons button:hover{

}
header .accountButtons .inscription{
    background-color:var(--rouge);
}
header .accountButtons .connexion{
    background-color: var(--bleu);
}

.main-image{    
    width: 100%;    
}
.main-image img{
    width: 100%;
}

#movie-tile-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 15vw));
    justify-content: center;
}

.movie-tile {
    overflow: hidden;
    margin: 2em;
    cursor: pointer;
}

.movie-tile img {
    width: 100%;
    border-radius: var(--borderRadius);
}

.movie-tile figcaption {
    text-align: center;
    padding: 1em 1em;
}

#movie-details-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in-out 0.2s, visibility ease-in-out 0.2s;
}

#movie-details-background {
    width: 100%;
    height: 100%;
    background-color: rgba(var(--darkGrey), 0.9);
    cursor: pointer;
}

#movie-details-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    z-index: 1;
    background-color: var(--grey);
    border-radius: var(--borderRadius);    
    padding: 20px;
}

#movie-details {
    display: flex;
}

#movie {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
}

#movie img {
    height: 50%;
    margin-bottom: 1em;
    border-radius: var(--borderRadius);
}

#details{
    display: flex;
    flex-direction: column;
}

#actors {
    display: flex;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}

.movie-title {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

.movie-year {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#stars {
    width: 10em;
    display: flex;
    height: 1.5em;
    margin-bottom: 1em;
}

.star-outer {
    color: var(--rouge);
}

.star-inner {
    color: rgba(0, 0, 0, 0);
}

.star-is-checked .star-inner {
    color: var(--rouge);
}

  /* The Close Button */
  .close {
    color: #aaaaaa;
    align-self: flex-end;
    width: min-content;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }